@import 'base';
@import 'variables';
@import 'header';

.featured {
  padding-top: 120px;
  padding-bottom: 120px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    display: flex;
    border-bottom: 1px solid $black;

    &_item {
      font-size: 36px;
      line-height: 1.2;
      font-weight: 700;
      color: $font-grey;
      text-transform: capitalize;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    &_item {
      position: relative;

      border: 1px solid #ccc;

      &:hover {
        border-color: #9c9c9c;
      }
      &:hover .featured__main_block,
      &:hover .featured__main_block * {
        filter: opacity(1);
      }

      &:hover img {
        filter: opacity(.15);
      }
      & img {
        display: block;
        height: fit-content;
        width: fit-content;
      }
    }

    &_block {
      position: absolute;
      display: block;
      filter: opacity(0);
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 1;

      transition: all .2s linear;

      cursor: pointer;

      & h1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        font-size: 22px;
        font-weight: 700;

        color: $font-color
      }

      & p {
        margin: 25px 25px 0;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: $font-grey
      }

    }
  }
}

.featured__slider_item-active {
  color: $font-color;

  &:after {
    content: '';

    display: block;

    width: 100%;
    height: 3px;
    background: $font-color;
  }
}

.exclusive {
  display: flex;
  .article__block {
    &_overhead {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: $blueText;
    }
    &_header {
      font-size: 36px;
      font-weight: 700;
      color: $font-color;
    }
    &_text {
      font-size: 14.1px;
      font-weight: 300;
      color: $font-grey;
    }
  }
  &__block {
    padding: 230px 260px 260px 50px;
    width: 100%;
  }
}

.red-chair {
  background: url("../images/exclusive1.jpg") no-repeat center;
  background-size: cover;
}

.wooden-chair {
  background: url("../images/exclusive2.jpg") no-repeat center;
  background-size: cover;
}

.trending {
  padding-top: 120px;
  padding-bottom: 120px;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;

    & h1 {
      text-transform: capitalize;
      font-size: 36px;
    }
  }

  &__gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    padding-top: 65px;
    margin: 0 120px;

    &_item {
      & img {
        transition: scale .3s ease-in-out, box-shadow .2s ease-in-out;
      }
      & img:hover {
        outline: 1px solid #ccc;
        box-shadow: 2px 2px 14px 1px rgb(33 33 33 / 34%);
        transform: scale(1.01);
      }
    }
  }
}

.hotdeal {
  padding-top: 390px;

  background: url("../images/hot_deal.jpg") center no-repeat;
  background-size: cover;
}

.exclusiveBottom {
  display: flex;
  justify-content: center;
  padding: 120px 100px 120px 100px;

  &__main {
    background: url("../images/exclusive__bottom1.jpg") no-repeat center;
    background-size: contain;
    height: 570px;
    width: 570px;
    margin-right: 30px;
    &_item {
      & .article__block {
        margin: 185px 0 185px 32px;
      }
    }
  }

  &__small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
}

.mobileApp {
  width: 100%;
  height: 516px;
  background: url("../images/mobile_app.jpg") center no-repeat;
  background-size: cover;
  padding: 125px 0 120px 100px;
  &__storeButtons {
    display: flex;
    margin-top: 35px;
    & a {
      display: block;
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 2px 5px 0 rgba(33,33,33,0.34);
      }
    }
    & a:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.footer {
  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0 40px;

  }
  background: $anotherBackgroundColor;
  width: 100%;
  &__top {
    display: flex;
    justify-content: space-between;
    &_contactUs {
      width: 300px;
      & a {
        display: inline-block;
        margin-top: 5px;
        &:hover {
          text-decoration: none;
        }
        &:hover .footer__top_contactUs_email:after {
          width: 100%;
        }
      }
      &_header {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: $font-grey;
      }
      &_address {
        margin-top: 24px;
      }
      &_address,
      &_phone,
      &_email {
        font-size: 14px;
        font-weight: 600;
        color: $font-color;
      }
      &_phone {
        margin-top: 24px;
      }
      &_email {
        position: relative;
        color: $font-color;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background: $font-color;
          transition: width .3s ease-in-out;
        }
      }
    }
    &_usefulInformation {
      &_header {
        font-size: 18px;
        font-weight: 700;
        color: $font-grey;
        text-transform: uppercase;
      }
      &_linksBlock {
        width: 200px;
        &:first-child {
          margin-right: 30px;
        }
      }
      &_links {
        display: flex;
        margin-top: 20px;
        &_item {
          display: inline-block;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          color: $font-color;
          transition: color .3s ease-in-out;
          &:not(:first-child),
          &:not(:last-child){
            margin: 5px 0;
          }
          &:hover {
            text-decoration: none;
            color: $font-grey;
          }
        }
      }
    }
    &_stayInTouch {
      position: relative;

      &_header {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: $font-grey;
      }
      &_text {
        width: 400px;
        margin-top: 25px;
        font-size: 14px;
        font-weight: 600;
        color: $font-color;
      }
      &_input {
        margin-top: 25px;
        width: 100%;
        padding: 17px 188px 17px 20px;
        border: 1px solid $inputBorderColor;
        background-color: $white;
        &:active,
        &:focus {
          outline: none;
          border: 1px solid $inputBorderColor;
        }
        &::placeholder {
          font-size: 14px;
          line-height: 22px;
          font-weight: 300;
          color: #6c6c6c;
        }
        &_submitBtn {
          position: absolute;
          display: block;
          bottom: 16px;
          right: 14px;
          cursor: pointer;

        }
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    &_copyright {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: $font-grey;
    }
    &_socials {
      display: flex;
      & a {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        font-size: 16px;
        font-weight: 300;
        border: 1px solid $font-grey;
        border-radius: 50%;
        background-color: $font-grey;
        color: $white;
        &:hover {
          text-decoration: none;
          box-shadow: 0 2px 5px 0 rgba(33,33,33,0.34);
          border-color: transparent;
          .fa-facebook-f,
          .fa-twitter {
            color: $blueText;
          }
          .fa-google-plus-g,
          .fa-pinterest-p {
            color: red;
          }
        }
      }
    }
    &_terms {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 26px;
      font-weight: 700;
      text-transform: uppercase;
      & a {
        position: relative;
        display: inline-block;
        color: $font-grey;
        transition: color .3s ease-in-out;
        &:hover {
          text-decoration: none;
          color: $font-color;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 5px;
          left: 0;
          width: 0;
          height: 1px;
          background: $font-grey;
          transition: width .3s ease-in-out;
        }
        &:hover:after {
          width: 100%;
        }
      }
      &-slash {
        margin: 0 7px;
        font-size: 14px;
        color: $font-grey;
      }
    }
  }
}


//small details block like buttons etc
.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;

  border-radius: 22px;

  outline: none;
  border: none;
  background: $white;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: $font-color;

  transition: box-shadow .2s linear;

  &:hover {
    box-shadow: 0 2px 5px 0 rgba(33,33,33,0.34);
    text-decoration: none;
  }

  &:active {
    box-shadow: inset 0 2px 5px 0 rgba(33,33,33,0.34);
  }

  & img {
    padding-left: 15px;
  }

  &-rounded {
    display: flex;
    justify-content: center;
    margin: 60px auto 0;
    padding: 0;
    border-radius: 50%;

    box-shadow: 0 2px 5px 0 rgba(33,33,33,0.34);

    cursor: pointer;

    & img {
      padding: 14px 18px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 140px;

  &__circle {
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: $font-color;
    opacity: .2;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &-active {
      width: 40px;
      height: 40px;
      background: $font-color;
      opacity: 1;
    }
  }

  &__hotdeal {
    padding-top: 215px;
  }
}

.article__block {
  &_overhead {
    font-size: 18px;
    text-transform: uppercase;
    color: $trending-color
  }
  &_header {
    font-size: 58px;
    line-height: 72px;
    text-transform: uppercase;
    font-weight: 100;
    color: $font-color;
    &-mobileApp {
      max-width: 500px;
      font-size: 62px;
      font-weight: 100;
    }
  }
  &_text {
    max-width: 30rem;

    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: $font-grey;
    &-mobileApp {
      font-size: 22px;
      font-weight: 300;
      color: $font-grey;
      margin-top: 26px;
    }
  }
  &_button {
    margin-top: 32px;
    padding: 11px 31px 10px;

    cursor: pointer;
  }
}

.article__small {
  &_overhead {
    color: $blueText;
  }
}

.grey-text {
  color: $font-grey;
}

//social icons
.fa-facebook-f {
  padding: 11px 14px;
}
.fa-twitter {
  padding: 10px 11px;
}
.fa-google-plus-g {
  padding: 11px 10px;
}
.fa-pinterest-p {
  padding: 10px 14px;
}
.fab {
  transition: color .3s ease-in-out;
}


