* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  color: #212121;
  scroll-behavior: smooth;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffffff;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #cccccc;
}

.center {
  padding-left: 120px;
  padding-right: 120px;
}

.header {
  background: url("../images/header__image.jpg") no-repeat center;
  background-size: cover;
}
.header__block {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 100px;
}
.header__navigation {
  display: none;
  justify-content: space-around;
}
.header__navigation_item {
  display: block;
  padding: 0 0.5rem;
  font-size: 1.4rem;
  color: inherit;
  text-transform: uppercase;
}
.header__navigation_item:after {
  display: block;
  content: "";
  width: 0;
  height: 0.2rem;
  color: #212121;
  transition: width 0.2s linear;
}
.header__navigation_item:hover {
  text-decoration: none;
}
.header__navigation_item:hover:not(:last-child):after {
  display: block;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #212121;
}
.header__navigation_item-active:after {
  display: block;
  content: "";
  width: 100% !important;
  height: 0.2rem;
  color: #212121;
}
.header__mobileNav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 200px;
  align-items: center;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  opacity: 3;
  z-index: 99;
  background: #cccccc;
}
.header__mobileNav_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__mobileNav_item {
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
}
.header__mobileNav_item:not(:last-child) {
  margin-bottom: 20px;
}
.header__mobileNav_closeBtn {
  align-self: flex-end;
  margin-right: 10px;
  width: 25px;
  cursor: pointer;
}
.header__slider {
  padding-top: 300px;
}

.featured {
  padding-top: 120px;
  padding-bottom: 120px;
}
.featured__header {
  display: flex;
  justify-content: space-between;
}
.featured__slider {
  display: flex;
  border-bottom: 1px solid #000000;
}
.featured__slider_item {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #6c6c6c;
  text-transform: capitalize;
}
.featured__slider_item:not(:last-child) {
  margin-right: 30px;
}
.featured__slider_item:hover {
  text-decoration: none;
}
.featured__main {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.featured__main_item {
  position: relative;
  border: 1px solid #ccc;
}
.featured__main_item:hover {
  border-color: #9c9c9c;
}
.featured__main_item:hover .featured__main_block, .featured__main_item:hover .featured__main_block * {
  filter: opacity(1);
}
.featured__main_item:hover img {
  filter: opacity(0.15);
}
.featured__main_item img {
  display: block;
  height: fit-content;
  width: fit-content;
}
.featured__main_block {
  position: absolute;
  display: block;
  filter: opacity(0);
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 1;
  transition: all 0.2s linear;
  cursor: pointer;
}
.featured__main_block h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  color: #212121;
}
.featured__main_block p {
  margin: 25px 25px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #6c6c6c;
}

.featured__slider_item-active {
  color: #212121;
}
.featured__slider_item-active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #212121;
}

.exclusive {
  display: flex;
}
.exclusive .article__block_overhead {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1e88e5;
}
.exclusive .article__block_header {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
}
.exclusive .article__block_text {
  font-size: 14.1px;
  font-weight: 300;
  color: #6c6c6c;
}
.exclusive__block {
  padding: 230px 260px 260px 50px;
  width: 100%;
}

.red-chair {
  background: url("../images/exclusive1.jpg") no-repeat center;
  background-size: cover;
}

.wooden-chair {
  background: url("../images/exclusive2.jpg") no-repeat center;
  background-size: cover;
}

.trending {
  padding-top: 120px;
  padding-bottom: 120px;
}
.trending__header {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
}
.trending__header h1 {
  text-transform: capitalize;
  font-size: 36px;
}
.trending__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-top: 65px;
  margin: 0 120px;
}
.trending__gallery_item img {
  transition: scale 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}
.trending__gallery_item img:hover {
  outline: 1px solid #ccc;
  box-shadow: 2px 2px 14px 1px rgba(33, 33, 33, 0.34);
  transform: scale(1.01);
}

.hotdeal {
  padding-top: 390px;
  background: url("../images/hot_deal.jpg") center no-repeat;
  background-size: cover;
}

.exclusiveBottom {
  display: flex;
  justify-content: center;
  padding: 120px 100px 120px 100px;
}
.exclusiveBottom__main {
  background: url("../images/exclusive__bottom1.jpg") no-repeat center;
  background-size: contain;
  height: 570px;
  width: 570px;
  margin-right: 30px;
}
.exclusiveBottom__main_item .article__block {
  margin: 185px 0 185px 32px;
}
.exclusiveBottom__small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.mobileApp {
  width: 100%;
  height: 516px;
  background: url("../images/mobile_app.jpg") center no-repeat;
  background-size: cover;
  padding: 125px 0 120px 100px;
}
.mobileApp__storeButtons {
  display: flex;
  margin-top: 35px;
}
.mobileApp__storeButtons a {
  display: block;
  transition: all 0.2s ease-in-out;
}
.mobileApp__storeButtons a:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 5px 0 rgba(33, 33, 33, 0.34);
}
.mobileApp__storeButtons a:not(:last-child) {
  margin-right: 10px;
}

.footer {
  background: #f7f7f7;
  width: 100%;
  padding: 120px 100px 40px 100px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__top_contactUs {
  width: 300px;
}
.footer__top_contactUs a {
  display: inline-block;
  margin-top: 5px;
}
.footer__top_contactUs a:hover {
  text-decoration: none;
}
.footer__top_contactUs a:hover .footer__top_contactUs_email:after {
  width: 100%;
}
.footer__top_contactUs_header {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6c6c6c;
}
.footer__top_contactUs_address {
  margin-top: 24px;
}
.footer__top_contactUs_address, .footer__top_contactUs_phone, .footer__top_contactUs_email {
  font-size: 14px;
  font-weight: 600;
  color: #212121;
}
.footer__top_contactUs_phone {
  margin-top: 24px;
}
.footer__top_contactUs_email {
  position: relative;
  color: #212121;
}
.footer__top_contactUs_email:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #212121;
  transition: width 0.3s ease-in-out;
}
.footer__top_usefulInformation_header {
  font-size: 18px;
  font-weight: 700;
  color: #6c6c6c;
  text-transform: uppercase;
}
.footer__top_usefulInformation_linksBlock {
  width: 200px;
}
.footer__top_usefulInformation_linksBlock:first-child {
  margin-right: 30px;
}
.footer__top_usefulInformation_links {
  display: flex;
  margin-top: 20px;
}
.footer__top_usefulInformation_links_item {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
  transition: color 0.3s ease-in-out;
}
.footer__top_usefulInformation_links_item:not(:first-child), .footer__top_usefulInformation_links_item:not(:last-child) {
  margin: 5px 0;
}
.footer__top_usefulInformation_links_item:hover {
  text-decoration: none;
  color: #6c6c6c;
}
.footer__top_stayInTouch {
  position: relative;
}
.footer__top_stayInTouch_header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6c6c6c;
}
.footer__top_stayInTouch_text {
  width: 400px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 600;
  color: #212121;
}
.footer__top_stayInTouch_input {
  margin-top: 25px;
  width: 100%;
  padding: 17px 188px 17px 20px;
  border: 1px solid #d9dee1;
  background-color: #ffffff;
}
.footer__top_stayInTouch_input:active, .footer__top_stayInTouch_input:focus {
  outline: none;
  border: 1px solid #d9dee1;
}
.footer__top_stayInTouch_input::placeholder {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #6c6c6c;
}
.footer__top_stayInTouch_input_submitBtn {
  position: absolute;
  display: block;
  bottom: 16px;
  right: 14px;
  cursor: pointer;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.footer__bottom_copyright {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6c6c6c;
}
.footer__bottom_socials {
  display: flex;
}
.footer__bottom_socials a {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #6c6c6c;
  border-radius: 50%;
  background-color: #6c6c6c;
  color: #ffffff;
}
.footer__bottom_socials a:hover {
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(33, 33, 33, 0.34);
  border-color: transparent;
}
.footer__bottom_socials a:hover .fa-facebook-f,
.footer__bottom_socials a:hover .fa-twitter {
  color: #1e88e5;
}
.footer__bottom_socials a:hover .fa-google-plus-g,
.footer__bottom_socials a:hover .fa-pinterest-p {
  color: red;
}
.footer__bottom_terms {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__bottom_terms a {
  position: relative;
  display: inline-block;
  color: #6c6c6c;
  transition: color 0.3s ease-in-out;
}
.footer__bottom_terms a:hover {
  text-decoration: none;
  color: #212121;
}
.footer__bottom_terms a:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 1px;
  background: #6c6c6c;
  transition: width 0.3s ease-in-out;
}
.footer__bottom_terms a:hover:after {
  width: 100%;
}
.footer__bottom_terms-slash {
  margin: 0 7px;
  font-size: 14px;
  color: #6c6c6c;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 22px;
  outline: none;
  border: none;
  background: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #212121;
  transition: box-shadow 0.2s linear;
}
.button:hover {
  box-shadow: 0 2px 5px 0 rgba(33, 33, 33, 0.34);
  text-decoration: none;
}
.button:active {
  box-shadow: inset 0 2px 5px 0 rgba(33, 33, 33, 0.34);
}
.button img {
  padding-left: 15px;
}
.button-rounded {
  display: flex;
  justify-content: center;
  margin: 60px auto 0;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(33, 33, 33, 0.34);
  cursor: pointer;
}
.button-rounded img {
  padding: 14px 18px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}
.pagination__circle {
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #212121;
  opacity: 0.2;
  cursor: pointer;
}
.pagination__circle:not(:last-child) {
  margin-right: 10px;
}
.pagination__circle-active {
  width: 40px;
  height: 40px;
  background: #212121;
  opacity: 1;
}
.pagination__hotdeal {
  padding-top: 215px;
}

.article__block_overhead {
  font-size: 18px;
  text-transform: uppercase;
  color: #43a047;
}
.article__block_header {
  font-size: 58px;
  line-height: 72px;
  text-transform: uppercase;
  font-weight: 100;
  color: #212121;
}
.article__block_header-mobileApp {
  max-width: 500px;
  font-size: 62px;
  font-weight: 100;
}
.article__block_text {
  max-width: 30rem;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}
.article__block_text-mobileApp {
  font-size: 22px;
  font-weight: 300;
  color: #6c6c6c;
  margin-top: 26px;
}
.article__block_button {
  margin-top: 32px;
  padding: 11px 31px 10px;
  cursor: pointer;
}

.article__small_overhead {
  color: #1e88e5;
}

.grey-text {
  color: #6c6c6c;
}

.fa-facebook-f {
  padding: 11px 14px;
}

.fa-twitter {
  padding: 10px 11px;
}

.fa-google-plus-g {
  padding: 11px 10px;
}

.fa-pinterest-p {
  padding: 10px 14px;
}

.fab {
  transition: color 0.3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
